services:
  master:
    image: chrislusf/seaweedfs:latest
    ports:
      - "9333:9333"
      - "19333:19333"
    command: "master -ip=master"
    volumes:
      - seaweed_master_data:/data

  volume:
    image: chrislusf/seaweedfs:latest
    ports:
      - "8080:8080"
      - "18080:18080"
    command: "volume -mserver=master:9333 -port=8080"
    depends_on:
      - master
    volumes:
      - seaweed_volume_data:/data

  filer:
    image: chrislusf/seaweedfs:latest
    ports:
      - "8888:8888"
      - "18888:18888"
    command: "filer -master=master:9333"
    depends_on:
      - master
      - volume
    volumes:
      - seaweed_filer_data:/data

volumes:
  seaweed_master_data:
  seaweed_volume_data:
  seaweed_filer_data: