services:
  master:
    image: chrislusf/seaweedfs:latest
    command: "master -ip=master"
    volumes:
      - seaweed_master_data:/data
    networks:
      - seaweed_internal

  volume:
    image: chrislusf/seaweedfs:latest
    command: "volume -mserver=master:9333 -port=8080"
    depends_on:
      - master
    volumes:
      - seaweed_volume_data:/data
    networks:
      - seaweed_internal

  filer:
    image: chrislusf/seaweedfs:latest
    command: "filer -master=master:9333"
    depends_on:
      - master
      - volume
    volumes:
      - seaweed_filer_data:/data
    networks:
      - seaweed_internal
      - global-network
    ports:
      - "8888:8888"

volumes:
  seaweed_master_data:
  seaweed_volume_data:
  seaweed_filer_data:

networks:
  seaweed_internal:
    internal: true
  global-network:
    external: true
  
