name: CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Filer/Dockerfile --tag mahdimcheik/filer:latest

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}          

    - name: Push image to Docker Hub
      run: docker push mahdimcheik/filer:latest

    - name: Deploy on VPS via SSH
      uses: appleboy/ssh-action@v1.0.0
      with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_PRIVATE_KEY }}
          script:
            docker pull mahdimcheik/filer:latest
            docker compose /filer/docker-compose.yml up -d --force-recreate